#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.click.button {
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.click.button:hover {
  filter: drop-shadow(0 0 3em #ffbb00);
}
.reset.button {
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.reset.button:hover {
  filter: drop-shadow(0 0 1em #00ccff);
}
